# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Production build output
dist/

# Local configuration
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
